@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

html {
  font-size: 62.5%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

body {
  background-image: url("../public/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  color:white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 2.1rem;
  font-family: 'Mate SC', serif;
}

/*Animations*/
@keyframes textIn {
  0%{
      transform: translateY(100%);
      opacity : 0;
  }
  100%{
      transform: translateY(0%);
      opacity : 1;
  }
}

.boxborder {
  position: fixed;
  border-style: solid;
  border-width: 1.5px;
  border-color: white;
  width: 98vw;
  height: 96vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  box-sizing: border-box;
}

.show {
  opacity: 1;
  transition: 1s ease;
}

.hide {
  opacity: 0;
  transition: 0.5s ease;
}

section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  box-sizing: border-box;
}

.homecontents {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2em;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#title {
  position: relative;
  font-size: 2.7em;
  cursor: default;
}

#changingtext {
  position: relative;
  top: -2.5em;
  animation: textIn .5s ease;
  cursor: default;
}

#Projects, #Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding-top: 6vh;

}

.header {
  width: 100%;
  font-size: 1.1em;
  cursor: default;
  box-sizing: border-box;
  z-index: -3;
}

.headerleft {
  float: left;
  margin-left: 3%;
}

.headerright {
  float: right;
  margin-right: 3%;
}

/* For Mobile Phones */
@media only screen and (max-width: 768px) {
  .boxborder {
    display: none;
  }
  .homecontents{
    font-size: 1em;
    width: 80%;
    margin: auto;
  }
  .headerright{
    display: none;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hide {
    opacity: 1;
  }
}